.Card {
    //box-shadow: 0 0 4px black;
    padding: 0px 8px;
    background-color: rgb(245, 245, 245);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

.Text {
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    line-height: 1.8em;
}

.Title {
    @extend .Text;
    font-weight: bold;
    color: black;
    font-size: 18px;
    max-height: 1.8em;
    //min-height: 3.6em;
}

.Img {
    display: block;

    img {
        max-width: 100%;
        max-height: 100%;
    }
}

.Character {
    @extend .Text;
    color: black;
    font-size: 16px;
    max-height: 1.8em;
    //min-height: 1.8em;
}