.Container {
    padding: 32px;
    box-sizing: border-box;
    justify-content: center;
    background-color: rgb(50, 50, 50);
}

.MovieList {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, max-content));
    grid-template-rows: repeat(auto-fit, minmax(300px, max-content));
    //grid-auto-columns: 200px;
    //grid-auto-rows: 300px;
    //grid-auto-flow: row;
    gap: 16px;
}